In [1]:
# 1. Importing the Libraries

In [2]:
import pandas as pd

# 2. Importing the  Dataset

In [3]:
data=pd.read_csv('heart.csv')

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

# 3. Taking Care of Missing Values

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# 4. Taking Care of Duplicate Values

In [6]:
data_dup=data.duplicated().any()

In [7]:
data_dup

True

In [8]:
data=data.drop_duplicates()

In [9]:
data.duplicated().sum()

0

# 5. Data Processing

In [10]:
#before start data procesing we have to seprate the data in categorical and numerial column

In [11]:
cate_val=[]
cont_val=[]
for column in data.columns:
    if data[column].nunique() <=10:
        cate_val.append(column)
    else:
        cont_val.append(column)

In [12]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [13]:
cont_val

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

# 6. Encoding Categorical Data

In [14]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [15]:
cate_val.remove('sex')

In [16]:
cate_val.remove('target')

In [17]:
cate_val

['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [18]:
pd.get_dummies(data , columns=cate_val  , drop_first=True)

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,168,1.0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,53,1,140,203,155,3.1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,70,1,145,174,125,2.6,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,61,1,148,203,161,0.0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,62,0,138,294,106,1.9,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,120,211,115,1.5,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
733,44,0,108,141,175,0.6,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
739,52,1,128,255,161,0.0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,1
843,59,1,160,273,125,0.0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
878,54,1,120,188,113,1.4,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1

# 7. Feature Scaling

In [19]:
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
st =  StandardScaler()
data[cont_val]= st.fit_transform(data[cont_val])

In [22]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.267966,1,0,-0.376556,-0.667728,0,1,0.806035,0,-0.037124,2,2,3,0
1,-0.157260,1,0,0.478910,-0.841918,1,0,0.237495,1,1.773958,0,0,3,0
2,1.724733,1,0,0.764066,-1.403197,0,1,-1.074521,1,1.342748,0,0,3,0
3,0.728383,1,0,0.935159,-0.841918,0,1,0.499898,0,-0.899544,2,1,3,0
4,0.839089,0,0,0.364848,0.919336,1,1,-1.905464,0,0.739054,1,3,2,0

# 8. Splitting The Dataset Into The Training Set And Test Set

In [23]:
X=data.drop('target' , axis=1)

In [24]:
y = data['target']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y , test_size=0.2 , random_state=42)

In [27]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
163,-0.710788,1,0,-0.433587,0.532247,0,0,0.718568,0,-0.468334,1,0,3
291,0.396267,1,0,-0.205463,0.241930,0,0,-0.855851,1,1.687716,1,2,3
280,-1.042904,0,1,-0.091401,-0.241930,0,0,1.112172,0,-0.382092,1,0,2
85,-1.153610,1,1,-0.661712,-0.512893,0,1,0.893503,0,-0.899544,2,0,2
239,0.839089,0,0,1.049221,-0.048386,0,1,0.193761,1,0.307844,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,1.392616,1,0,-0.661712,-0.183867,0,1,-3.436149,0,-0.037124,1,0,2
77,0.949794,1,0,0.478910,-1.151589,0,0,-0.243577,1,2.550136,2,2,3
125,0.617678,0,3,1.049221,-0.125804,0,1,0.937237,0,-0.123366,2,0,2
522,1.392616,0,2,1.163283,0.590310,0,1,0.980971,0,-0.899544,2,1,2
119,-1.375021,1,1,-0.661712,0.938690,0,1,0.543632,0,-0.899544,2,0,2

In [28]:
y_train

163    0
291    0
280    1
85     1
239    0
      ..
267    0
77     0
125    1
522    1
119    1
Name: target, Length: 241, dtype: int64

In [29]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
245,-1.153610,1,1,-0.091401,-0.532247,0,0,1.680713,0,-0.899544,2,0,2
349,0.839089,0,2,-0.091401,0.319348,0,1,-2.299069,0,0.135360,1,1,3
135,0.396267,0,0,2.189843,-0.416120,1,0,-0.156110,1,1.515232,1,2,1
389,0.949794,1,3,0.764066,-0.261285,1,0,0.018826,0,1.084022,0,0,1
66,-0.157260,1,2,-0.091401,-0.958045,1,0,0.106294,0,0.135360,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,1.724733,1,1,1.391408,-0.029032,0,0,-0.287311,0,-0.899544,2,0,2
123,1.171205,0,2,0.478910,3.299932,1,0,0.324963,0,-0.209608,2,1,2
739,-0.267966,1,0,-0.205463,0.164513,0,1,0.499898,1,-0.899544,2,1,3
274,1.281911,1,0,1.619532,-0.358057,0,0,-0.505981,0,1.084022,2,0,1
256,-2.149959,0,0,0.364848,-1.229007,0,1,1.418309,0,0.307844,2,0,2

In [30]:
y_test

245    1
349    0
135    0
389    1
66     1
      ..
402    1
123    1
739    0
274    1
256    1
Name: target, Length: 61, dtype: int64

# 9. Logistic Regression

In [31]:
# when our dependent variable is categorical then its a classification problem

In [32]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.267966,1,0,-0.376556,-0.667728,0,1,0.806035,0,-0.037124,2,2,3,0
1,-0.157260,1,0,0.478910,-0.841918,1,0,0.237495,1,1.773958,0,0,3,0
2,1.724733,1,0,0.764066,-1.403197,0,1,-1.074521,1,1.342748,0,0,3,0
3,0.728383,1,0,0.935159,-0.841918,0,1,0.499898,0,-0.899544,2,1,3,0
4,0.839089,0,0,0.364848,0.919336,1,1,-1.905464,0,0.739054,1,3,2,0

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
lr = LogisticRegression()
lr.fit(X_train , y_train)

LogisticRegression()

In [35]:
y_pred1 = lr.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
x1=accuracy_score(y_test , y_pred1)
x1

0.7868852459016393

# 10. SVC "Support vector Classifier "

In [38]:
from sklearn import svm

In [39]:
svm = svm.SVC()

In [40]:
svm.fit(X_train , y_train)

SVC()

In [41]:
y_pred2=svm.predict(X_test)

In [42]:
x2=accuracy_score(y_test , y_pred2)
x2

0.8360655737704918

# 11 . KNeighbors Classifier

In [43]:
from sklearn.neighbors import KNeighborsClassifier

In [44]:
knc = KNeighborsClassifier()

In [45]:
knc.fit(X_train , y_train)

KNeighborsClassifier()

In [46]:
y_pred3 = knc.predict(X_test)

In [47]:
x3=accuracy_score(y_test , y_pred3)
x3

0.7377049180327869

# 12. Decision Tree Classifier

In [48]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
dt= DecisionTreeClassifier()

In [50]:
dt.fit(X_train , y_train)

DecisionTreeClassifier()

In [51]:
y_pred4=dt.predict(X_test)

In [52]:
x4=accuracy_score(y_test , y_pred4)
x4

0.7049180327868853

# 13. Random Forest Classifier

In [53]:
from sklearn.ensemble import RandomForestClassifier

In [54]:
rf = RandomForestClassifier()

In [55]:
rf.fit(X_train , y_train)

RandomForestClassifier()

In [56]:
y_pred5=rf.predict(X_test)

In [57]:
x5=accuracy_score(y_test , y_pred5)
x5

0.8360655737704918

# 14. Gradient Boosting Classifier

In [58]:
from sklearn.ensemble import GradientBoostingClassifier

In [59]:
gb = GradientBoostingClassifier()

In [60]:
gb.fit(X_train , y_train)

GradientBoostingClassifier()

In [61]:
y_pred6=gb.predict(X_test)

In [62]:
x6=accuracy_score(y_test , y_pred6)
x6

0.8032786885245902

In [63]:
## final Data 
print ("Logistic Regression = " , x1)
print ("Support vector Classifier = " , x2)
print ("KNeighbors Classifier  = " , x3)
print ("Decision Tree Classifier = " , x4)
print (" Random Forest Classifier = " , x5)
print ("Gradient Boosting Classifier  = " , x6)

Logistic Regression =  0.7868852459016393
Support vector Classifier =  0.8360655737704918
KNeighbors Classifier  =  0.7377049180327869
Decision Tree Classifier =  0.7049180327868853
 Random Forest Classifier =  0.8360655737704918
Gradient Boosting Classifier  =  0.8032786885245902

In [64]:
X=data.drop('target' , axis=1)
y=data['target']

In [65]:
X.shape

(302, 13)

In [66]:
from sklearn.ensemble import RandomForestClassifier

In [67]:
rf=RandomForestClassifier()
rf.fit(X,y)

RandomForestClassifier()

In [68]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

# 15. Prediction on new data

In [69]:
import pandas as pd

In [70]:
new_data = pd.DataFrame({
    'age':52,
    'sex':1,
    'cp':0,
    'trestbps':125,
    'chol':212,
    'fbs':0,
    'restecg':1,
    'thalach':168,
    'exang':0,
    'oldpeak':1.0,
    'slope':2,
    'ca':2,
    'thal':3
    
    
} , index=[0])

In [71]:
new_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3

In [72]:
p=rf.predict(new_data)
if p==0:
    print("NO Disease ")
else:
    print("Disease")

NO Disease

# 16. Save Model Using Joblib

In [73]:
import joblib

In [74]:
joblib.dump(rf , 'model_joblib_heart')

['model_joblib_heart']

In [75]:
model = joblib.load('model_joblib_heart')

In [76]:
model.predict(new_data)

array([0], dtype=int64)

# 17. GUI

In [77]:
from tkinter import *
import joblib

In [ ]:
def show_entry():
    p1=int(e1.get())
    p2=int(e2.get())
    p3=int(e3.get())
    p4=int(e4.get())
    p5=int(e5.get())
    p6=int(e6.get())
    p7=int(e7.get())
    p8=int(e8.get())
    p9=int(e9.get())
    p10=float(e10.get())
    p11=int(e11.get())
    p12=int(e12.get())
    p13=int(e13.get())
    
    
    model=joblib.load('model_joblib_heart')
    result  = model.predict([[p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13]])
    
    
    if result ==0:
        Label(master , text='No Heart Disease').grid(row=31)
    else:
        Label(master , text='Possibility of Heart Disease').grid(row=31)
        
master = Tk()
master.title("Heart Disease Prediction System ")

label=Label(master , text="Heart Disease Predition System"
           ,bg = "black" , fg="white").\
                grid(row=0 , columnspan=2)

Label(master, text="Enter Your Age").grid(row=1)
Label(master, text="Male Or Female [1/0]").grid(row=2)
Label(master, text="Enter Value of CP").grid(row=3)
Label(master, text="Enter Value of trestbps").grid(row=4)
Label(master, text="Enter Value of chol").grid(row=5)
Label(master, text="Enter Value of fbs").grid(row=6)
Label(master, text="Enter Value of restecg").grid(row=7)
Label(master, text="Enter Value of thalach").grid(row=8)
Label(master, text="Enter Value of exang").grid(row=9)
Label(master, text="Enter Value of oldpeak").grid(row=10)
Label(master, text="Enter Value of slope").grid(row=11)
Label(master, text="Enter Value of ca").grid(row=12)
Label(master, text="Enter Value of thal").grid(row=13)



e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)
e12 = Entry(master)
e13 = Entry(master)

e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10, column=1)
e11.grid(row=11, column=1)
e12.grid(row=12, column=1)
e13.grid(row=13, column=1)

Button(master, text='Predict', command=show_entry).grid()

mainloop()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

#